/* App.module.css */

/* Загальні стилі залишаються такими ж */

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

nav ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding: 10px;
  background-color: #f8f9fa;
  position: fixed;
  width: 100%;
  bottom: 0;
  border-top: 1px solid #e3e4e8;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  text-decoration: none;
  color: #007bff;
  font-weight: bold;
}

nav ul li a:hover {
  color: #0056b3;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  padding-bottom: 50px;
  /* для врахування висоти фіксованого меню */
  position: relative;
}

.page-enter {
  opacity: 0;
  transform: translateY(20px);
}

.page-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 300ms, transform 300ms;
}

.page-exit {
  opacity: 1;
  transform: translateY(0);
}

.page-exit-active {
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 300ms, transform 300ms;
}