/* App.module.css */
.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

nav ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding: 10px;
  background-color: #f8f9fa;
  position: fixed;
  width: 100%;
  bottom: 0;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  text-decoration: none;
  color: #007bff;
  font-weight: bold;
}

nav ul li a:hover {
  color: #0056b3;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  padding-bottom: 50px;
  /* для врахування висоти фіксованого меню */
}