.contactGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
    /* Відступи між елементами сітки */
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.contactItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    /* Збільшено відступи для зручності */
    border: 1px solid #ddd;
    border-radius: 8px;
    /* Збільшено радіус скруглення для сучасного вигляду */
    background-color: #f9f9f9;
    transition: background-color 0.3s ease;
    /* Додано плавний перехід */
    text-align: center;
}

.contactItem:hover {
    background-color: #e2e2e2;
    /* Трохи темніший відтінок при наведенні */
}

.contactAvatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    /* Додає стилі для округленого аватара */
    margin-bottom: 10px;
    /* Відступ знизу для розділення з іншими елементами */
}

.contactDetails {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.contactName {
    font-family: 'Poppins', sans-serif;
    /* Додано спеціальний шрифт для назви */
    font-weight: 600;
    /* Збільшено товщину для виділення */
    font-size: 1.1em;
    /* Трохи збільшено розмір для кращої видимості */
    margin-bottom: 5px;
    color: #333;
    /* Темніший колір для кращої контрастності */
}

.contactEmale {
    font-family: 'Open Sans', sans-serif;
    /* Додано спеціальний шрифт для емейлу */
    font-size: 0.9em;
    color: #666;
    /* Легший відтінок сірого */
    margin-bottom: 5px;
}

.contactNumber {
    font-family: 'Open Sans', sans-serif;
    /* Використовується той же шрифт, що і для емейлу */
    font-size: 0.9em;
    color: #666;
}

.deleteButton {
    background-color: #ff4d4d;
    /* Яскравіший червоний */
    color: white;
    border: none;
    padding: 8px 15px;
    /* Збільшено відступи для зручності */
    cursor: pointer;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    /* Той же шрифт для кнопки */
    font-weight: 600;
    /* Виділення кнопки */
    transition: background-color 0.3s ease;
    /* Плавний перехід */
}

.deleteButton:hover {
    background-color: #cc0000;
    /* Трохи темніший відтінок червоного */
}